$heading-font: "recoleta";
$primary-font: "Poppins", sans-serif;

$primary-color: #00aeef;
$secondary-color: #ffcf18;

$text-color: #555555;
$text-dark: #081e2c;
$error: #ef2c49;
$success: #09b35e;

$white: #fff;
$light: #f6f6f6;
$black: #000;
$dark-gray: #111;
$gray: #444;
$light-gray: #666;
$border-color: #dedede;
